{% extends "index.html" %}
{% block contend %}

<!-- <div class=" bg-secondary h-100">
  <div style="height: 50px;" class="container-100 bg-dark border-end">
    <h1 class="text-light fw-bold text-center">Listado de estudiantes</h3>
  </div>

  <div class="container-lg mt-1 mr-5">
    <table class="table table-secondary table-bordered table-striped">
  
        <thead class="text-center">
            <tr>
              <th class="col-1 align-middle">Nombre</th>
              <th class="col-1 align-middle">Apellido paterno</th>
              <th class="col-1 align-middle">Apellido materno</th>
              <th class="col-1 align-middle">Fecha de nacimiento</th>
              <th class="col-1 align-middle">Identificacion</th>
              <th class="col-1 align-middle">Tipo de Identificacion</th>
              <th class="col-1 align-middle">Pais</th>
              <th class="col-1 align-middle">Provincia</th>
              <th class="col-1 align-middle">Canton/Recinto</th>
              <th class="col-1 align-middle">Telefono</th>
              <th class="col-2 align-middle">Acciones</th>
            </tr>
        </thead>
        
        <tbody>
          <tr class="text-center">
            
  
            <td class="align-middle">1</td>
            <td class="align-middle">1</td>
            <td class="align-middle">1</td>
            <td class="align-middle">1</td>
            <td class="align-middle">1</td>
            <td class="align-middle">1</td>
            <td class="align-middle">1</td>
            <td class="align-middle">1</td>
            <td class="align-middle">1</td>
            <td class="align-middle">1</td>
            <td>
              <a class="btn btn-success w-100" href="/updateEstudiante">Actualizar</a>
              <a class="btn btn-danger w-100 mt-1" onclick="del(this)" id="delUser" href="https://getbootstrap.esdocu.com/docs/5.1/utilities/vertical-align/" data-bs-toggle="modal" data-bs-target="#exampleModal">Eliminar</a>
          </td>
  
  
  
  
  
              <td>
              <div class="btn-status-success center"></div>
          </td>
          <td>
              <div class="btn-status-danger center"></div>
          </td> 
  
          </tr>
        </tbody>
  
      </table>
  </div>
   -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Esta a punto de Eliminar este Usuario,
          Desea continuar?
        </div>
        <div id="confirm" class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  
  
  
</div> 


<div class="d-flex flex-column align-items-stretch  bg-light" style="width: 480px;">
  <a class="container-fluid mx-auto text-center bg-dark text-decoration-none text-light rounded-bottom mb-1">
      <svg class="bi mt-1 me-2" width="40" height="40"><use xlink:href="#userPerfil"/></svg>
      <p class="fs-5 mb-2 fw-semibold">Lista de Estudiantes</p>
  </a>

  <div class="list-group list-group-flush border-bottom  scrollarea">
    <div href="#" class="list-group-item list-group-item-action py-3 rounded-bottom lh-tight" aria-current="true">
      
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">Adrian Estevan Abril Pesantez</strong>
        <small class="fw-bold"> Software</small>
      </div>

      <div class="row">

        <div class="col-2 ms-3">
          <img src="https://cdn-icons-png.flaticon.com/512/1144/1144709.png" class="me-2" height="50px" width="50px" alt="">
          <!-- <svg class="bi me-2" width="50" height="50"><use xlink:href="#user"/></svg> -->
        </div>

        <div class="col-6">

          <div class="mt-1 d-flex" >
            <div class="d-flex">
              <img width="18px" height="18px" class="me-2" src="https://cdn-icons-png.flaticon.com/512/126/126509.png" alt="">
              <div>0987571164</div>
            </div>
          </div>

          <div class="mt-1 d-flex">
            <img width="18px" height="18px" class="me-2" src="https://cdn-icons-png.flaticon.com/512/4097/4097494.png" alt="">
            <!-- <svg class="bi me-2" width="18" height="18"><use xlink:href="#location"/></svg> -->
            <div class="d-flex">
              <div>Ecuador</div>
              /
              <div>Guayas</div> 
              /
              <div>Milagro</div>
            </div>
            
          </div>

        </div>


        <div class="col text-end">

          <a class="me-1" href="">
            <img class="bi me-1 bg" src="https://cdn-icons-png.flaticon.com/512/2356/2356780.png" class="me-2" height="18px" width="18px" alt=""></a>
          </a>

          <a class="me-1 text-dark" href="">
            <svg class="bi me-1" width="18px" height="18px"><use xlink:href="#delete"/></svg>
          </a>

        </div>

        
      </div>


    </div>
    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">List group item heading</strong>
        <small class="text-muted">Tues</small>
      </div>
      <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
    </a>
   
    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">List group item heading</strong>
        <small class="text-muted">Tues</small>
      </div>
      <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
    </a>
    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">List group item heading</strong>
        <small class="text-muted">Mon</small>
      </div>
      <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
    </a>
  </div>


{% endblock %}
