

{% extends "index.html" %}
{% block contend %}
<div class="row">
    <div class="colsm-12">
        <div class="card border">
            <div class="card-header">
                <h3 class="text-center">Crear de Usuario</h3>
            </div>
            <div class="card-body">
                <form action="estudiante">
                    <div class="form-group">
                        <labe class="control-label">Nombres</labe>
                        <input type="text" class="form-control" placeholder="Pepito Araum">
                        <span class="text danger"></span>
                    </div>
                    <div class="form-group ">
                        <labe  class="control-label">Apellido paterno</labe>
                        <input class="form-control" type="text" placeholder="Cazares">
                        <span  class="text danger"></span>
                    </div>
                    <div class="form-group">
                        <labe class="control-label">Apellido materno</labe>
                        <input type="text" class="form-control" placeholder="Perez">
                        <span class="text danger"></span>
                    </div>
                    <div class="form-group">
                        <labe class="control-label">fecha de nacimiento</labe>
                        <input type="text" class="form-control" placeholder="dd/mm/aa">
                        <span class="text danger"></span>
                    </div>
                    <div class="form-group">
                        <labe class="control-label">Telefono</labe>
                        <input type="text" class="form-control" placeholder="099898983">
                        <span class="text danger"></span>
                    </div>
                    <div class="form-group">
                        <labe class="control-label"></labe>
                        <input type="text" class="form-control">
                        <span class="text danger"></span>
                    </div>
                    <div class="form-group">
                        <labe class="control-label"></labe>
                        <input type="text" class="form-control">
                        <span class="text danger"></span>
                    </div>
                    
                    <div class="form-group">
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
